$primary: #7367f0;
$black: #283046;
$darkGrey: #1b212f;
$lightGrey: #F0F0F0;
$white: #d0d2d6;
$background: #161D31;

$lightBlue: #00cfe8;
$lightGreen: #28c76f;
$lightYellow: #e8e400;
$lightPink: #f780fb;
$darkBlue: #5395ff;
$darkPurple: #752671;
$orange: #f16643;
$red: #ea5455;
$green: #68c286;